.cart {
    flex: none;
    padding: 3rem;
    width: 250px;
}

@media screen and (max-width: 875px) {
    .cart {
        width: 100%;
    }
}

.cart--open {
    color: white;
    background-color: #31b572;
}

.cart__btn {
    width: 100%;
    padding: 0;
    font-size: 1.8rem;
    background: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.cart--closed>.cart__btn {
    color: black;
}

.cart__ul {
    padding-left: 0;
}

.cart__li {
    list-style: none;
}