.plantItem__cover {
    height: 250px;
    width: 250px;
    border-radius: 2rem;
    object-fit: cover;
}

.plantItem {
    padding: 1rem;
    background-color: #31b4726a;
    border-radius: 2rem;
    text-transform: capitalize;
    position: relative;
}

.plantItem__price {
    position: absolute;
    border-radius: 20px 20px 20px 0;
    background-color: #31b472;
    color: white;
    padding: 15px;
    right: 0;
    top: 0;
    font-weight: 500;
}

.plantItem__body {
    padding: 0.5rem;
}

.plantItem__content {
    display: flex;
    justify-content: space-between;
}