.categories {
    text-align: center;
    padding-top: 30px;
}

.categories__select {
    margin-right: 15px;
}

.categories select {
    background-color: $cl-primary;
    cursor: pointer;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}